apiVersion: ec2.aws.upbound.io/v1beta1
kind: VPC
metadata:
  name: {{ .Object.VpcId }}
  annotations:
    crossplane.io/external-name: "{{ .Object.VpcId }}"
spec:
    managementPolicies: ["Observe"]
    forProvider:
        region: "{{ .Region }}"